.button {
    width: 100%;
    height: 50px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    background: #444;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

/* Эффект при наведении */
.button:hover {
    background: #666;
}

/* Телефоны */
@media (max-width: 600px) {
    .button {
        height: 50px;
        font-size: 1.2em;
    }
}

/* Планшеты */
@media (min-width: 600px) and (max-width: 1024px) {
    .button {
        height: 55px;
        font-size: 1.4em;
    }
}

/* Десктопы */
@media (min-width: 1440px) {
    .button {
        height: 65px;
        font-size: 1.6em;
    }
}
